@model MealPlanner.Data.ViewModels.DashboardVM

<h3>@Model.ThisWeekTitle</h3>

<div style="overflow-x: scroll;">
    <div class="table">
        @for (int i = 0; i < 7; i++)
        {
            <article>
                <div class="calendar-contents">
                    @(Model.ThisWeekStartDate.AddDays(i).ToShortDateString())
                    @if (Model.ThisWeekMeals.Where(x => x.Date == Model.ThisWeekStartDate.AddDays(i)).FirstOrDefault() != null)
                    {
                        <br />
                        <a href="@Url.Action("Details", "Recipes", new { id = Model.ThisWeekMeals.Where(x => x.Date == Model.ThisWeekStartDate.AddDays(i)).FirstOrDefault().Recipe.Id })">
                            @Model.ThisWeekMeals.Where(x => x.Date == Model.ThisWeekStartDate.AddDays(i)).FirstOrDefault().Recipe.Name
                            <br />
                            @if (Model.ThisWeekMeals.Where(x => x.Date == Model.ThisWeekStartDate.AddDays(i)).FirstOrDefault().Recipe.Image.Data != null)
                            {
                                <img src="data:image;base64,@System.Convert.ToBase64String(Model.ThisWeekMeals.Where(x => x.Date == Model.ThisWeekStartDate.AddDays(i)).FirstOrDefault().Recipe.Image.Data)" class="smallImage" />
                            }
                            else
                            {
                                <img src="@Model.ThisWeekMeals.Where(x => x.Date == Model.ThisWeekStartDate.AddDays(i)).FirstOrDefault().Recipe.Image.DataUrl" class="smallImage" />
                            }
                        </a>
                        <br />
                        <button type="button" class="btn btn-sm btn-primary wideBtn" onclick="showSelectMealModal('@Model.ThisWeekStartDate.AddDays(i)')">Change</button>
                    }
                    else
                    {
                        <br />
                        <button type="button" class="btn btn-sm btn-primary wideBtn" onclick="showSelectMealModal('@Model.ThisWeekStartDate.AddDays(i)')">Select <i class="glyphicon glyphicon-plus-sign"></i></button>
                    }
                </div>
            </article>
        }
    </div>
</div>