@model MealPlanner.Data.Models.Recipe

<h2>@Model.Name</h2>
@if (Model.RecipeImageId != null)
{
    <p>
        <a asp-action="DownloadRecipe" asp-route-id="@Model.Id">View Recipe</a>
    </p>
}
<hr />
@if (Model.Image.Data != null)
{
    <img src="data:image;base64,@System.Convert.ToBase64String(Model.Image.Data)" />
}
else
{
    <img src="@Model.Image.DataUrl" />
}
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastViewed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastViewed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RecipeCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RecipeCategory.Name)
        </dd>
    </dl>
</div>

@Html.Partial("../RecipeDetails/Index.cshtml", Model.RecipeDetails.OrderBy(x => x.Ingredient.Name))
@*@if (Model.RecipeImage != null && Model.RecipeImage.Data != null)
{
    <img src="data:image;base64,@System.Convert.ToBase64String(Model.RecipeImage.Data)" />
}*@

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<style>
    img {
        max-height: 40vh;
        max-width: 100%;
    }
</style>