@model IEnumerable<MealPlanner.Models.Entities.ShoppingListItem>

<link href="~/css/Checkbox.min.css" rel="stylesheet" asp-append-version="true" />
<link href="~/css/Checklist.min.css" rel="stylesheet" asp-append-version="true" />
<h2>Grocery List</h2>
<div class="btn-group">
    <a asp-action="AddCurrentMealPlan" class="btn btn-sm btn-primary">Add Meal Plan <i class="fas fa-plus"></i></a>
    <a asp-action="ClearAllChecked" class="btn btn-sm btn-warning">Clear all Checked <i class="fas fa-eraser"></i></a>
    <a asp-action="ClearAll" onclick="return confirm('Are you sure you want to clear the whole list?')" class="btn btn-sm btn-danger">Clear All <i class="fas fa-trash"></i></a>
</div>
<hr />

<ul class="ShoppingList">
    @foreach (var item in Model.OrderBy(x => x.Order))
    {
        <li class="item" data-id="@item.Id">
            <input type="checkbox" class="shoppingItemCheck" data-id="@item.Id" id="cb@(item.Id)" @(item.Checked ? "checked" : "") />
            <label for="cb@(item.Id)" class="check-box"></label>
            <input maxlength="100" autofocus="autofocus" placeholder="Click to edit" value="@item.Name" class="check-textbox" />
            <a href="javascript:RemoveCheck(@item.Id)"><i class="fas fa-times text-danger"></i></a>
            <span class="notesSection">@item.Notes</span>
        </li>
    }
</ul>
<a class="add" href="javascript:AddItem()"><i class="fas fa-plus text-success"></i> Add item</a>
@section Scripts {
    <script src="~/js/ShoppingList.js" asp-append-version="true"></script>
    <script src="~/js/Checklist.js" asp-append-version="true"></script>
}


@*@foreach (var item in Model)
        {
            <div class="row checkContainer" data-id="@item.Id" style="border-bottom:solid 1px #ccc;">
                <div class="row">
                    <h5 class="col-sm-12">
                        <span class="pull-left">
                            <input type="checkbox" class="shoppingItemCheck" data-id="@item.Id" id="cb@(item.Id)" @(item.Checked ? "checked" : "") />
                            <label for="cb@(item.Id)" class="check-box"></label>
                        </span>
                        <span class="pull-left" style="margin-left: 10px; margin-top: 3px;">@item.Name</span>
                        <span class="pull-right">@item.Quantity @item.Unit <a href="javascript:removeItem(@item.Id)" class="text-danger"><i class="fas fa-times"></i></a></span>
                    </h5>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p style="padding-left: 40px;">@item.Notes</p>
                    </div>
                </div>
            </div>
        }

    <a href="javascript:showAddShoppingItemModal()" class="float">
        <i class="fas fa-plus my-float"></i>
    </a>*@