@model IEnumerable<MealPlanner.Models.Entities.ShoppingListItem>

<link href="~/css/Checkbox.min.css" rel="stylesheet" asp-append-version="true" />
<h2>Grocery List</h2>
<div class="btn-group">
    <a asp-action="AddCurrentMealPlan" class="btn btn-sm btn-primary">Add Meal Plan <i class="fas fa-plus"></i></a>
    <a asp-action="ClearAllChecked" class="btn btn-sm btn-warning">Clear all Checked <i class="fas fa-eraser"></i></a>
    <a asp-action="ClearAll" onclick="return confirm('Are you sure you want to clear the whole list?')" class="btn btn-sm btn-danger">Clear All <i class="fas fa-trash"></i></a>
</div>
<hr />
@foreach (var item in Model)
{
    <div class="row checkContainer" data-id="@item.Id" style="border-bottom:solid 1px #ccc;">
        <h5 class="col-sm-12">
            <span class="pull-left">
                <input type="checkbox" class="shoppingItemCheck" data-id="@item.Id" id="cb@(item.Id)" @(item.Checked ? "checked" : "") />
                <label for="cb@(item.Id)" class="check-box"></label>
            </span>
            <span class="pull-left" style="margin-left: 10px;">@item.Name</span>
            <span class="pull-right">@item.Quantity @item.Unit <a href="javascript:removeItem(@item.Id)" class="text-danger"><i class="fas fa-times"></i></a></span>
        </h5>
    </div>
}

<a href="javascript:showAddShoppingItemModal()" class="float">
    <i class="fas fa-plus my-float"></i>
</a>

@section Scripts {
    <script>
        function drillIntoItem(id) {
            if ($('#drillIn' + id).length) {
                $('#drillIn' + id).remove();
            }
            else {
                $('#row' + id).after('<tr><td colspan="4" id="drillIn' + id + '"></td></tr>');
                $('#drillIn' + id).load('/ShoppingList/RecipeDrillIn/' + id);
            }
        }

        function removeItem(id) {
            $.ajax({
                type: "POST",
                url: '/ShoppingList/RemoveShoppingItem',
                data: { id: id },
                success: function (data) {
                    if (!data.success) {
                        alert("Error: the item may not have been checked.")
                    }
                    else {
                        var container = $(".checkContainer[data-id='" + id + "']");
                        container.remove();
                    }
                },
                error: function () {
                    alert("Error: the item may not have been checked.")
                }
            });
        }

        function showAddShoppingItemModal() {
            $('#loading').show();
            $('#modalDiv').load('/ShoppingList/AddItem', function () {
                $('#loading').hide();
                $('#addShoppingItemModal').modal('show');
            });
        }

        $(document).ready(function () {
            $('.shoppingItemCheck').change(function () {
                var id = $(this).data('id');
                $.ajax({
                    type: "POST",
                    url: '/ShoppingList/CheckShoppingItem',
                    data: { id: id, checkedVal: $(this).is(':checked') },
                    success: function (data) {
                        if (!data.success) {
                            alert("Error: the item may not have been checked.")
                        }
                    },
                    error: function () {
                        alert("Error: the item may not have been checked.")
                    }
                });
            });
        });
    </script>
}